.new-driver h2{
    text-align: center;
    margin-bottom: 1rem;
}
form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label{
    margin-bottom: 0.5rem;    
}

.form-control input,
.form-control select{
    width: 500px;
    padding: .6rem;
    border-radius: 5px;
    border:none;
    margin: .5rem;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color: #17191f;
    margin: .5rem;
    padding: 2.5rem;
    border-radius: 8px;
  }

.delete-btn {
    font-weight: bold;
    border: 1px solid rgb(196, 123, 123);
    padding: .6rem 1rem;
    border-radius: 1rem;
    opacity: 1;
    background-color: rgb(196, 123, 123);
    margin: 5px;
    cursor: pointer;
}
.enter-btn {
    font-weight: bold;
    border: 1px solid #fff;
    padding: .6rem 1rem;
    border-radius: 1rem;
    opacity: 1;
    margin: 5px;
    cursor: pointer;
}