.home h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
}
.driver{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #777;
}

.driver h2,
.driver p{
    margin-bottom: 1rem;
}

.btn{
    background-color: #fff;
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    color: #fff;
    background-color: #0e1217;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color: #17191f;
    margin: .5rem;
    padding: 2.5rem;
    border-radius: 8px;
  }

  .filter input{
    color: #fff;
    width: 90% !important;
    margin: 1rem;
    padding: 1rem !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #0e1217;
    font-size: 20px;
  }