* {
    margin: 0;
    padding: 0;
    font-family: "Blinker";
}

body{
    background-color: #0e1217;
    color: #FFF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#FFF;
    opacity: 0.7;
    transition: 0.3s;
}

a:hover{
    opacity: 1;
}

p{
    color: #a9abb3;
}